@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0); } }

@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0); } }

.medium-editor-anchor-preview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000; }
  .medium-editor-anchor-preview a {
    color: #fff;
    display: inline-block;
    margin: 5px 5px 10px; }

.medium-editor-anchor-preview-active {
  visibility: visible; }

.medium-editor-dragover {
  background: #ddd; }

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
          animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px; }

.medium-editor-placeholder {
  position: relative; }
  .medium-editor-placeholder:after {
    content: attr(data-placeholder) !important;
    font-style: italic;
    left: 0;
    position: absolute;
    top: 0;
    white-space: pre;
    padding: inherit;
    margin: inherit; }

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px; }

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px; }

.medium-editor-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000; }
  .medium-editor-toolbar ul {
    margin: 0;
    padding: 0; }
  .medium-editor-toolbar li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .medium-editor-toolbar li button {
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      font-size: 14px;
      line-height: 1.33;
      margin: 0;
      padding: 15px;
      text-decoration: none; }
      .medium-editor-toolbar li button:focus {
        outline: none; }
    .medium-editor-toolbar li .medium-editor-action-underline {
      text-decoration: underline; }
    .medium-editor-toolbar li .medium-editor-action-pre {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
      font-weight: 100;
      padding: 15px 0; }

.medium-editor-toolbar-active {
  visibility: visible; }

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px; }

.medium-editor-relative-toolbar {
  position: relative; }

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
          animation: medium-editor-pop-upwards 160ms forwards linear; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form {
  display: none; }
  .medium-editor-toolbar-form input,
  .medium-editor-toolbar-form a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar-form .medium-editor-toolbar-form-row {
    line-height: 14px;
    margin-left: 5px;
    padding-bottom: 5px; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input,
  .medium-editor-toolbar-form label {
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    width: 316px;
    display: inline-block; }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
    .medium-editor-toolbar-form label:focus {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      border: none;
      box-shadow: none;
      outline: 0; }
  .medium-editor-toolbar-form a {
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px;
    text-decoration: none; }

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table; }

[data-medium-editor-element] img {
  max-width: 100%; }

[data-medium-editor-element] sub {
  vertical-align: sub; }

[data-medium-editor-element] sup {
  vertical-align: super; }

.medium-editor-hidden {
  display: none; }

.medium-toolbar-arrow-under:after {
  border-color: #242424 transparent transparent transparent;
  top: 50px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #242424 transparent;
  top: -8px; }

.medium-editor-toolbar {
  background-color: #242424;
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.75));
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 3px #000; }
  .medium-editor-toolbar li button {
    background-color: #242424;
    background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.89));
    border: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #333;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 50px;
    min-width: 50px;
    transition: background-color .2s ease-in; }
    .medium-editor-toolbar li button:hover {
      background-color: #000;
      color: yellow; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .medium-editor-toolbar li .medium-editor-button-active {
    background-color: #000;
    background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 0.89));
    color: #fff; }

.medium-editor-toolbar-form {
  background: #242424;
  border-radius: 5px;
  color: #999; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #242424;
    box-sizing: border-box;
    color: #ccc;
    height: 50px; }
  .medium-editor-toolbar-form a {
    color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #242424;
  border-radius: 5px;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #b3b3b1; }

.medium-editor-table-builder {
  display: none;
  position: absolute;
  left: 0;
  top: 101%; }
  .medium-editor-table-builder * {
    box-sizing: border-box; }

.medium-editor-table-builder-grid {
  border: 1px solid #000;
  border-radius: 3px;
  height: 162px;
  overflow: hidden;
  width: 162px; }

.medium-editor-table-builder-cell {
  background-color: #333;
  border: 1px solid #000;
  display: block;
  float: left;
  height: 16px;
  margin: 0;
  width: 16px; }
  .medium-editor-table-builder-cell.active {
    background-color: #ccc; }

.medium-editor-table-builder-cell:hover {
  background-color: #ccc; }

.medium-editor-table {
  border-collapse: collapse;
  resize: both;
  table-layout: fixed; }

.medium-editor-table,
.medium-editor-table td {
  border: 1px dashed #e3e3e3; }

.medium-editor-table-builder-toolbar {
  display: block;
  background-color: #333;
  font-size: 0.8em;
  color: white; }
  .medium-editor-table-builder-toolbar span {
    width: 45px;
    display: block;
    float: left;
    margin-left: 5px; }
  .medium-editor-table-builder-toolbar button {
    margin: 0 3px;
    background-color: #333;
    border: 0;
    width: 30px;
    cursor: pointer; }
    .medium-editor-table-builder-toolbar button i {
      color: white; }

/*!
 * FullCalendar v2.6.1 Stylesheet
 * Docs & License: http://fullcalendar.io/
 * (c) 2015 Adam Shaw
 */


.fc {
	direction: ltr;
	text-align: left;
}

.fc-rtl {
	text-align: right;
}

body .fc { /* extra precedence to overcome jqui */
	font-size: 1em;
}


/* Colors
--------------------------------------------------------------------------------------------------*/

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
	border-color: #ddd;
}

.fc-unthemed .fc-popover {
	background-color: #fff;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
	background: #eee;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
	color: #666;
}

.fc-unthemed .fc-today {
	background: #fcf8e3;
}

.fc-highlight { /* when user is selecting cells */
	background: #bce8f1;
	opacity: .3;
	filter: alpha(opacity=30); /* for IE */
}

.fc-bgevent { /* default look for background events */
	background: rgb(143, 223, 130);
	opacity: .3;
	filter: alpha(opacity=30); /* for IE */
}

.fc-nonbusiness { /* default look for non-business-hours areas */
	/* will inherit .fc-bgevent's styles */
	background: #d7d7d7;
}


/* Icons (inline elements with styled text that mock arrow icons)
--------------------------------------------------------------------------------------------------*/

.fc-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1em;
	font-size: 1em;
	text-align: center;
	overflow: hidden;
	font-family: "Courier New", Courier, monospace;

	/* don't allow browser text-selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

/*
Acceptable font-family overrides for individual icons:
	"Arial", sans-serif
	"Times New Roman", serif

NOTE: use percentage font sizes or else old IE chokes
*/

.fc-icon:after {
	position: relative;
	margin: 0 -1em; /* ensures character will be centered, regardless of width */
}

.fc-icon-left-single-arrow:after {
	content: "\02039";
	font-weight: bold;
	font-size: 200%;
	top: -7%;
	left: 3%;
}

.fc-icon-right-single-arrow:after {
	content: "\0203A";
	font-weight: bold;
	font-size: 200%;
	top: -7%;
	left: -3%;
}

.fc-icon-left-double-arrow:after {
	content: "\000AB";
	font-size: 160%;
	top: -7%;
}

.fc-icon-right-double-arrow:after {
	content: "\000BB";
	font-size: 160%;
	top: -7%;
}

.fc-icon-left-triangle:after {
	content: "\25C4";
	font-size: 125%;
	top: 3%;
	left: -2%;
}

.fc-icon-right-triangle:after {
	content: "\25BA";
	font-size: 125%;
	top: 3%;
	left: 2%;
}

.fc-icon-down-triangle:after {
	content: "\25BC";
	font-size: 125%;
	top: 2%;
}

.fc-icon-x:after {
	content: "\000D7";
	font-size: 200%;
	top: 6%;
}


/* Buttons (styled <button> tags, normalized to work cross-browser)
--------------------------------------------------------------------------------------------------*/

.fc button {
	/* force height to include the border and padding */
	box-sizing: border-box;

	/* dimensions */
	margin: 0;
	height: 2.1em;
	padding: 0 .6em;

	/* text & cursor */
	font-size: 1em; /* normalize */
	white-space: nowrap;
	cursor: pointer;
}

/* Firefox has an annoying inner border */
.fc button::-moz-focus-inner { margin: 0; padding: 0; }
	
.fc-state-default { /* non-theme */
	border: 1px solid;
}

.fc-state-default.fc-corner-left { /* non-theme */
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right { /* non-theme */
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* icons in buttons */

.fc button .fc-icon { /* non-theme */
	position: relative;
	top: -0.05em; /* seems to be a good adjustment across browsers */
	margin: 0 .2em;
	vertical-align: middle;
}
	
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
	background-color: #f5f5f5;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
	color: #333333;
	background-color: #e6e6e6;
}

.fc-state-hover {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	transition: background-position 0.1s linear;
}

.fc-state-down,
.fc-state-active {
	background-color: #cccccc;
	background-image: none;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-disabled {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	box-shadow: none;
}


/* Buttons Groups
--------------------------------------------------------------------------------------------------*/

.fc-button-group {
	display: inline-block;
}

/*
every button that is not first in a button group should scootch over one pixel and cover the
previous button's border...
*/

.fc .fc-button-group > * { /* extra precedence b/c buttons have margin set to zero */
	float: left;
	margin: 0 0 0 -1px;
}

.fc .fc-button-group > :first-child { /* same */
	margin-left: 0;
}


/* Popover
--------------------------------------------------------------------------------------------------*/

.fc-popover {
	position: absolute;
	box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.fc-popover .fc-header { /* TODO: be more consistent with fc-head/fc-body */
	padding: 2px 4px;
}

.fc-popover .fc-header .fc-title {
	margin: 0 2px;
}

.fc-popover .fc-header .fc-close {
	cursor: pointer;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
	float: left;
}

.fc-rtl .fc-popover .fc-header .fc-title,
.fc-ltr .fc-popover .fc-header .fc-close {
	float: right;
}

/* unthemed */

.fc-unthemed .fc-popover {
	border-width: 1px;
	border-style: solid;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
	font-size: .9em;
	margin-top: 2px;
}

/* jqui themed */

.fc-popover > .ui-widget-header + .ui-widget-content {
	border-top: 0; /* where they meet, let the header have the border */
}


/* Misc Reusable Components
--------------------------------------------------------------------------------------------------*/

.fc-divider {
	border-style: solid;
	border-width: 1px;
}

hr.fc-divider {
	height: 0;
	margin: 0;
	padding: 0 0 2px; /* height is unreliable across browsers, so use padding */
	border-width: 1px 0;
}

.fc-clear {
	clear: both;
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
	/* these element should always cling to top-left/right corners */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.fc-bg {
	bottom: 0; /* strech bg to bottom edge */
}

.fc-bg table {
	height: 100%; /* strech bg to bottom edge */
}


/* Tables
--------------------------------------------------------------------------------------------------*/

.fc table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em; /* normalize cross-browser */
}

.fc th {
	text-align: center;
}

.fc th,
.fc td {
	border-style: solid;
	border-width: 1px;
	padding: 0;
	vertical-align: top;
}

.fc td.fc-today {
	border-style: double; /* overcome neighboring borders */
}


/* Fake Table Rows
--------------------------------------------------------------------------------------------------*/

.fc .fc-row { /* extra precedence to overcome themes w/ .ui-widget-content forcing a 1px border */
	/* no visible border by default. but make available if need be (scrollbar width compensation) */
	border-style: solid;
	border-width: 0;
}

.fc-row table {
	/* don't put left/right border on anything within a fake row.
	   the outer tbody will worry about this */
	border-left: 0 hidden transparent;
	border-right: 0 hidden transparent;

	/* no bottom borders on rows */
	border-bottom: 0 hidden transparent; 
}

.fc-row:first-child table {
	border-top: 0 hidden transparent; /* no top border on first row */
}


/* Day Row (used within the header and the DayGrid)
--------------------------------------------------------------------------------------------------*/

.fc-row {
	position: relative;
}

.fc-row .fc-bg {
	z-index: 1;
}

/* highlighting cells & background event skeleton */

.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
	bottom: 0; /* stretch skeleton to bottom of row */
}

.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
	height: 100%; /* stretch skeleton to bottom of row */
}

.fc-row .fc-highlight-skeleton td,
.fc-row .fc-bgevent-skeleton td {
	border-color: transparent;
}

.fc-row .fc-bgevent-skeleton {
	z-index: 2;

}

.fc-row .fc-highlight-skeleton {
	z-index: 3;
}

/*
row content (which contains day/week numbers and events) as well as "helper" (which contains
temporary rendered events).
*/

.fc-row .fc-content-skeleton {
	position: relative;
	z-index: 4;
	padding-bottom: 2px; /* matches the space above the events */
}

.fc-row .fc-helper-skeleton {
	z-index: 5;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
	/* see-through to the background below */
	background: none; /* in case <td>s are globally styled */
	border-color: transparent;

	/* don't put a border between events and/or the day number */
	border-bottom: 0;
}

.fc-row .fc-content-skeleton tbody td, /* cells with events inside (so NOT the day number cell) */
.fc-row .fc-helper-skeleton tbody td {
	/* don't put a border between event cells */
	border-top: 0;
}


/* Scrolling Container
--------------------------------------------------------------------------------------------------*/

.fc-scroller { /* this class goes on elements for guaranteed vertical scrollbars */
	overflow-y: scroll;
	overflow-x: hidden;
}

.fc-scroller > * { /* we expect an immediate inner element */
	position: relative; /* re-scope all positions */
	width: 100%; /* hack to force re-sizing this inner element when scrollbars appear/disappear */
	overflow: hidden; /* don't let negative margins or absolute positioning create further scroll */
}


/* Global Event Styles
--------------------------------------------------------------------------------------------------*/

.fc-event {
	position: relative; /* for resize handle and other inner positioning */
	display: block; /* make the <a> tag block */
	font-size: .85em;
	line-height: 1.3;
	border-radius: 3px;
	border: 1px solid #3a87ad; /* default BORDER color */
	background-color: #3a87ad; /* default BACKGROUND color */
	font-weight: normal; /* undo jqui's ui-widget-header bold */
}

/* overpower some of bootstrap's and jqui's styles on <a> tags */
.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
	color: #fff; /* default TEXT color */
	text-decoration: none; /* if <a> has an href */
}

.fc-event[href],
.fc-event.fc-draggable {
	cursor: pointer; /* give events with links and draggable events a hand mouse pointer */
}

.fc-not-allowed, /* causes a "warning" cursor. applied on body */
.fc-not-allowed .fc-event { /* to override an event's custom cursor */
	cursor: not-allowed;
}

.fc-event .fc-bg { /* the generic .fc-bg already does position */
	z-index: 1;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25); /* for IE */
}

.fc-event .fc-content {
	position: relative;
	z-index: 2;
}

.fc-event .fc-resizer {
	position: absolute;
	z-index: 3;
}


/* Horizontal Events
--------------------------------------------------------------------------------------------------*/

/* events that are continuing to/from another week. kill rounded corners and butt up against edge */

.fc-ltr .fc-h-event.fc-not-start,
.fc-rtl .fc-h-event.fc-not-end {
	margin-left: 0;
	border-left-width: 0;
	padding-left: 1px; /* replace the border with padding */
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
	margin-right: 0;
	border-right-width: 0;
	padding-right: 1px; /* replace the border with padding */
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* resizer */

.fc-h-event .fc-resizer { /* positioned it to overcome the event's borders */
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	width: 5px;
}

/* left resizer  */
.fc-ltr .fc-h-event .fc-start-resizer,
.fc-ltr .fc-h-event .fc-start-resizer:before,
.fc-ltr .fc-h-event .fc-start-resizer:after,
.fc-rtl .fc-h-event .fc-end-resizer,
.fc-rtl .fc-h-event .fc-end-resizer:before,
.fc-rtl .fc-h-event .fc-end-resizer:after {
	right: auto; /* ignore the right and only use the left */
	cursor: w-resize;
}

/* right resizer */
.fc-ltr .fc-h-event .fc-end-resizer,
.fc-ltr .fc-h-event .fc-end-resizer:before,
.fc-ltr .fc-h-event .fc-end-resizer:after,
.fc-rtl .fc-h-event .fc-start-resizer,
.fc-rtl .fc-h-event .fc-start-resizer:before,
.fc-rtl .fc-h-event .fc-start-resizer:after {
	left: auto; /* ignore the left and only use the right */
	cursor: e-resize;
}


/* DayGrid events
----------------------------------------------------------------------------------------------------
We use the full "fc-day-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/

.fc-day-grid-event {
	margin: 1px 2px 0; /* spacing between events and edges */
	padding: 0 1px;
}


.fc-day-grid-event .fc-content { /* force events to be one-line tall */
	white-space: nowrap;
	overflow: hidden;
}

.fc-day-grid-event .fc-time {
	font-weight: bold;
}

.fc-day-grid-event .fc-resizer { /* enlarge the default hit area */
	left: -3px;
	right: -3px;
	width: 7px;
}


/* Event Limiting
--------------------------------------------------------------------------------------------------*/

/* "more" link that represents hidden events */

a.fc-more {
	margin: 1px 3px;
	font-size: .85em;
	cursor: pointer;
	text-decoration: none;
}

a.fc-more:hover {
	text-decoration: underline;
}

.fc-limited { /* rows and cells that are hidden because of a "more" link */
	display: none;
}

/* popover that appears when "more" link is clicked */

.fc-day-grid .fc-row {
	z-index: 1; /* make the "more" popover one higher than this */
}

.fc-more-popover {
	z-index: 2;
	width: 220px;
}

.fc-more-popover .fc-event-container {
	padding: 10px;
}


/* Now Indicator
--------------------------------------------------------------------------------------------------*/

.fc-now-indicator {
	position: absolute;
	border: 0 solid red;
}

/* Toolbar
--------------------------------------------------------------------------------------------------*/

.fc-toolbar {
	text-align: center;
	margin-bottom: 1em;
}

.fc-toolbar .fc-left {
	float: left;
}

.fc-toolbar .fc-right {
	float: right;
}

.fc-toolbar .fc-center {
	display: inline-block;
}

/* the things within each left/right/center section */
.fc .fc-toolbar > * > * { /* extra precedence to override button border margins */
	float: left;
	margin-left: .75em;
}

/* the first thing within each left/center/right section */
.fc .fc-toolbar > * > :first-child { /* extra precedence to override button border margins */
	margin-left: 0;
}
	
/* title text */

.fc-toolbar h2 {
	margin: 0;
}

/* button layering (for border precedence) */

.fc-toolbar button {
	position: relative;
}

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
	z-index: 2;
}
	
.fc-toolbar .fc-state-down {
	z-index: 3;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
	z-index: 4;
}

.fc-toolbar button:focus {
	z-index: 5;
}


/* View Structure
--------------------------------------------------------------------------------------------------*/

/* undo twitter bootstrap's box-sizing rules. normalizes positioning techniques */
/* don't do this for the toolbar because we'll want bootstrap to style those buttons as some pt */
.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
	box-sizing: content-box;
}

.fc-view, /* scope positioning and z-index's for everything within the view */
.fc-view > table { /* so dragged elements can be above the view's main element */
	position: relative;
	z-index: 1;
}

/* BasicView
--------------------------------------------------------------------------------------------------*/

/* day row structure */

.fc-basicWeek-view .fc-content-skeleton,
.fc-basicDay-view .fc-content-skeleton {
	/* we are sure there are no day numbers in these views, so... */
	padding-top: 1px; /* add a pixel to make sure there are 2px padding above events */
	padding-bottom: 1em; /* ensure a space at bottom of cell for user selecting/clicking */
}

.fc-basic-view .fc-body .fc-row {
	min-height: 4em; /* ensure that all rows are at least this tall */
}

/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */

.fc-row.fc-rigid {
	overflow: hidden;
}

.fc-row.fc-rigid .fc-content-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

/* week and day number styling */

.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
	padding: 0 2px;
}

.fc-basic-view td.fc-week-number span,
.fc-basic-view td.fc-day-number {
	padding-top: 2px;
	padding-bottom: 2px;
}

.fc-basic-view .fc-week-number {
	text-align: center;
}

.fc-basic-view .fc-week-number span {
	/* work around the way we do column resizing and ensure a minimum width */
	display: inline-block;
	min-width: 1.25em;
}

.fc-ltr .fc-basic-view .fc-day-number {
	text-align: right;
}

.fc-rtl .fc-basic-view .fc-day-number {
	text-align: left;
}

.fc-day-number.fc-other-month {
	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
}

/* AgendaView all-day area
--------------------------------------------------------------------------------------------------*/

.fc-agenda-view .fc-day-grid {
	position: relative;
	z-index: 2; /* so the "more.." popover will be over the time grid */
}

.fc-agenda-view .fc-day-grid .fc-row {
	min-height: 3em; /* all-day section will never get shorter than this */
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
	padding-top: 1px; /* add a pixel to make sure there are 2px padding above events */
	padding-bottom: 1em; /* give space underneath events for clicking/selecting days */
}


/* TimeGrid axis running down the side (for both the all-day area and the slot area)
--------------------------------------------------------------------------------------------------*/

.fc .fc-axis { /* .fc to overcome default cell styles */
	vertical-align: middle;
	padding: 0 4px;
	white-space: nowrap;
}

.fc-ltr .fc-axis {
	text-align: right;
}

.fc-rtl .fc-axis {
	text-align: left;
}

.ui-widget td.fc-axis {
	font-weight: normal; /* overcome jqui theme making it bold */
}


/* TimeGrid Structure
--------------------------------------------------------------------------------------------------*/

.fc-time-grid-container, /* so scroll container's z-index is below all-day */
.fc-time-grid { /* so slats/bg/content/etc positions get scoped within here */
	position: relative;
	z-index: 1;
}

.fc-time-grid {
	min-height: 100%; /* so if height setting is 'auto', .fc-bg stretches to fill height */
}

.fc-time-grid table { /* don't put outer borders on slats/bg/content/etc */
	border: 0 hidden transparent;
}

.fc-time-grid > .fc-bg {
	z-index: 1;
}

.fc-time-grid .fc-slats,
.fc-time-grid > hr { /* the <hr> AgendaView injects when grid is shorter than scroller */
	position: relative;
	z-index: 2;
}

.fc-time-grid .fc-content-col {
	position: relative; /* because now-indicator lives directly inside */
}

.fc-time-grid .fc-content-skeleton {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
}

/* divs within a cell within the fc-content-skeleton */

.fc-time-grid .fc-business-container {
	position: relative;
	z-index: 1;
}

.fc-time-grid .fc-bgevent-container {
	position: relative;
	z-index: 2;
}

.fc-time-grid .fc-highlight-container {
	position: relative;
	z-index: 3;
}

.fc-time-grid .fc-event-container {
	position: relative;
	z-index: 4;
}

.fc-time-grid .fc-now-indicator-line {
	z-index: 5;
}

.fc-time-grid .fc-helper-container { /* also is fc-event-container */
	position: relative;
	z-index: 6;
}


/* TimeGrid Slats (lines that run horizontally)
--------------------------------------------------------------------------------------------------*/

.fc-time-grid .fc-slats td {
	height: 1.5em;
	border-bottom: 0; /* each cell is responsible for its top border */
}

.fc-time-grid .fc-slats .fc-minor td {
	border-top-style: dotted;
}

.fc-time-grid .fc-slats .ui-widget-content { /* for jqui theme */
	background: none; /* see through to fc-bg */
}


/* TimeGrid Highlighting Slots
--------------------------------------------------------------------------------------------------*/

.fc-time-grid .fc-highlight-container { /* a div within a cell within the fc-highlight-skeleton */
	position: relative; /* scopes the left/right of the fc-highlight to be in the column */
}

.fc-time-grid .fc-highlight {
	position: absolute;
	left: 0;
	right: 0;
	/* top and bottom will be in by JS */
}


/* TimeGrid Event Containment
--------------------------------------------------------------------------------------------------*/

.fc-ltr .fc-time-grid .fc-event-container { /* space on the sides of events for LTR (default) */
	margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-time-grid .fc-event-container { /* space on the sides of events for RTL */
	margin: 0 2px 0 2.5%;
}

.fc-time-grid .fc-event,
.fc-time-grid .fc-bgevent {
	position: absolute;
	z-index: 1; /* scope inner z-index's */
}

.fc-time-grid .fc-bgevent {
	/* background events always span full width */
	left: 0;
	right: 0;
}


/* Generic Vertical Event
--------------------------------------------------------------------------------------------------*/

.fc-v-event.fc-not-start { /* events that are continuing from another day */
	/* replace space made by the top border with padding */
	border-top-width: 0;
	padding-top: 1px;

	/* remove top rounded corners */
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.fc-v-event.fc-not-end {
	/* replace space made by the top border with padding */
	border-bottom-width: 0;
	padding-bottom: 1px;

	/* remove bottom rounded corners */
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}


/* TimeGrid Event Styling
----------------------------------------------------------------------------------------------------
We use the full "fc-time-grid-event" class instead of using descendants because the event won't
be a descendant of the grid when it is being dragged.
*/

.fc-time-grid-event {
	overflow: hidden; /* don't let the bg flow over rounded corners */
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
	padding: 0 1px;
}

.fc-time-grid-event .fc-time {
	font-size: .85em;
	white-space: nowrap;
}

/* short mode, where time and title are on the same line */

.fc-time-grid-event.fc-short .fc-content {
	/* don't wrap to second line (now that contents will be inline) */
	white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
	/* put the time and title on the same line */
	display: inline-block;
	vertical-align: top;
}

.fc-time-grid-event.fc-short .fc-time span {
	display: none; /* don't display the full time text... */
}

.fc-time-grid-event.fc-short .fc-time:before {
	content: attr(data-start); /* ...instead, display only the start time */
}

.fc-time-grid-event.fc-short .fc-time:after {
	content: "\000A0-\000A0"; /* seperate with a dash, wrapped in nbsp's */
}

.fc-time-grid-event.fc-short .fc-title {
	font-size: .85em; /* make the title text the same size as the time */
	padding: 0; /* undo padding from above */
}

/* resizer */

.fc-time-grid-event .fc-resizer {
	left: 0;
	right: 0;
	bottom: 0;
	height: 8px;
	overflow: hidden;
	line-height: 8px;
	font-size: 11px;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
}

.fc-time-grid-event .fc-resizer:after {
	content: "=";
}


/* Now Indicator
--------------------------------------------------------------------------------------------------*/

.fc-time-grid .fc-now-indicator-line {
	border-top-width: 1px;
	left: 0;
	right: 0;
}

/* arrow on axis */

.fc-time-grid .fc-now-indicator-arrow {
	margin-top: -5px; /* vertically center on top coordinate */
}

.fc-ltr .fc-time-grid .fc-now-indicator-arrow {
	left: 0;
	/* triangle pointing right... */
	border-width: 5px 0 5px 6px;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.fc-rtl .fc-time-grid .fc-now-indicator-arrow {
	right: 0;
	/* triangle pointing left... */
	border-width: 5px 6px 5px 0;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/* right floated label */
.ui.right.floated.label {
  float: right;
}
#societyAdmin {
  /*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
  /*Responsive Design*/
  /*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/
  /*******************************
        Theme Selection
*******************************/
  /* To override a theme for an individual element
   specify theme name below
*/
  /* Global */
  /* Elements */
  /* Collections */
  /* Modules */
  /* Views */
  /*******************************
            Folders
*******************************/
  /* Path to theme packages */
  /* Path to site override folder */
  /*******************************
         Import Theme
*******************************/
  /*******************************
        Import Directives
*******************************/
  /*------------------
       Theme
-------------------*/
  /*--------------------
   Site Variables
---------------------*/
  /* Default site.variables */
  /*******************************
         Site Settings
*******************************/
  /*-------------------
       Fonts
--------------------*/
  /*-------------------
      Base Sizes
--------------------*/
  /* This is the single variable that controls them all */
  /* The size of page text  */
  /*-------------------
    Border Radius
--------------------*/
  /* See Power-user section below
   for explanation of @px variables
*/
  /*-------------------
    Brand Colors
--------------------*/
  /*--------------
  Page Heading
---------------*/
  /*--------------
   Form Input
---------------*/
  /* This adjusts the default form input across all elements */
  /* Line Height Default For Inputs in Browser */
  /*-------------------
    Focused Input
--------------------*/
  /* Used on inputs, textarea etc */
  /* Used on dropdowns, other larger blocks */
  /*-------------------
        Sizes
--------------------*/
  /*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
  /*-------------------
        Page
--------------------*/
  /*-------------------
      Paragraph
--------------------*/
  /*-------------------
       Links
--------------------*/
  /*-------------------
  Highlighted Text
--------------------*/
  /*-------------------
       Loader
--------------------*/
  /*-------------------
        Grid
--------------------*/
  /*-------------------
     Transitions
--------------------*/
  /*-------------------
     Breakpoints
--------------------*/
  /*-------------------
      Site Colors
--------------------*/
  /*---  Colors  ---*/
  /*---  Light Colors  ---*/
  /*---   Neutrals  ---*/
  /*--- Colored Backgrounds ---*/
  /*--- Colored Headers ---*/
  /*--- Colored Text ---*/
  /*-------------------
     Alpha Colors
--------------------*/
  /*-------------------
       Accents
--------------------*/
  /* Differentiating Neutrals */
  /* Differentiating Layers */
  /*******************************
           Power-User
*******************************/
  /*-------------------
    Emotive Colors
--------------------*/
  /* Positive */
  /* Negative */
  /* Info */
  /* Warning */
  /*-------------------
        Paths
--------------------*/
  /* For source only. Modified in gulp for dist */
  /*-------------------
       Em Sizes
--------------------*/
  /*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
  /* em */
  /* rem */
  /*-------------------
  Exact Pixel Values
--------------------*/
  /*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
  /*-------------------
       Icons
--------------------*/
  /* Maximum Glyph Width of Icon */
  /*-------------------
     Neutral Text
--------------------*/
  /*-------------------
     Brand Colors
--------------------*/
  /*-------------------
      Borders
--------------------*/
  /*-------------------
    Derived Values
--------------------*/
  /* Loaders Position Offset */
  /* Rendered Scrollbar Width */
  /* Maximum Single Character Glyph Width, aka Capital "W" */
  /* Used to match floats with text */
  /* Header Spacing */
  /* Minimum Mobile Width */
  /* Positive / Negative Dupes */
  /* Responsive */
  /* Columns */
  /*******************************
             States
*******************************/
  /*-------------------
      Disabled
--------------------*/
  /*-------------------
        Hover
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
        Focus
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
    Down (:active)
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
        Active
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /* Packaged site.variables */
  /*******************************
         Site Settings
*******************************/
  /*-------------------
       Fonts
--------------------*/
  /*-------------------
      Base Sizes
--------------------*/
  /* This is the single variable that controls them all */
  /* The size of page text  */
  /*-------------------
    Border Radius
--------------------*/
  /* See Power-user section below
   for explanation of @px variables
*/
  /*-------------------
    Brand Colors
--------------------*/
  /*--------------
  Page Heading
---------------*/
  /*--------------
   Form Input
---------------*/
  /* This adjusts the default form input across all elements */
  /* Line Height Default For Inputs in Browser */
  /*-------------------
    Focused Input
--------------------*/
  /* Used on inputs, textarea etc */
  /* Used on dropdowns, other larger blocks */
  /*-------------------
        Sizes
--------------------*/
  /*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
  /*-------------------
        Page
--------------------*/
  /*-------------------
      Paragraph
--------------------*/
  /*-------------------
       Links
--------------------*/
  /*-------------------
  Highlighted Text
--------------------*/
  /*-------------------
       Loader
--------------------*/
  /*-------------------
        Grid
--------------------*/
  /*-------------------
     Transitions
--------------------*/
  /*-------------------
     Breakpoints
--------------------*/
  /*-------------------
      Site Colors
--------------------*/
  /*---  Colors  ---*/
  /*---  Light Colors  ---*/
  /*---   Neutrals  ---*/
  /*--- Colored Backgrounds ---*/
  /*--- Colored Headers ---*/
  /*--- Colored Text ---*/
  /*-------------------
     Alpha Colors
--------------------*/
  /*-------------------
       Accents
--------------------*/
  /* Differentiating Neutrals */
  /* Differentiating Layers */
  /*******************************
           Power-User
*******************************/
  /*-------------------
    Emotive Colors
--------------------*/
  /* Positive */
  /* Negative */
  /* Info */
  /* Warning */
  /*-------------------
        Paths
--------------------*/
  /* For source only. Modified in gulp for dist */
  /*-------------------
       Em Sizes
--------------------*/
  /*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
  /* em */
  /* rem */
  /*-------------------
  Exact Pixel Values
--------------------*/
  /*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
  /*-------------------
       Icons
--------------------*/
  /* Maximum Glyph Width of Icon */
  /*-------------------
     Neutral Text
--------------------*/
  /*-------------------
     Brand Colors
--------------------*/
  /*-------------------
      Borders
--------------------*/
  /*-------------------
    Derived Values
--------------------*/
  /* Loaders Position Offset */
  /* Rendered Scrollbar Width */
  /* Maximum Single Character Glyph Width, aka Capital "W" */
  /* Used to match floats with text */
  /* Header Spacing */
  /* Minimum Mobile Width */
  /* Positive / Negative Dupes */
  /* Responsive */
  /* Columns */
  /*******************************
             States
*******************************/
  /*-------------------
      Disabled
--------------------*/
  /*-------------------
        Hover
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
        Focus
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
    Down (:active)
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
        Active
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /* Component's site.variables */
  /*******************************
         Site Settings
*******************************/
  /*-------------------
       Fonts
--------------------*/
  /*-------------------
      Base Sizes
--------------------*/
  /* This is the single variable that controls them all */
  /* The size of page text  */
  /*-------------------
    Border Radius
--------------------*/
  /* See Power-user section below
   for explanation of @px variables
*/
  /*-------------------
    Brand Colors
--------------------*/
  /*--------------
  Page Heading
---------------*/
  /*--------------
   Form Input
---------------*/
  /* This adjusts the default form input across all elements */
  /* Line Height Default For Inputs in Browser */
  /*-------------------
    Focused Input
--------------------*/
  /* Used on inputs, textarea etc */
  /* Used on dropdowns, other larger blocks */
  /*-------------------
        Sizes
--------------------*/
  /*
  Sizes are all expressed in terms of 14px/em (default em)
  This ensures these "ratios" remain constant despite changes in EM
*/
  /*-------------------
        Page
--------------------*/
  /*-------------------
      Paragraph
--------------------*/
  /*-------------------
       Links
--------------------*/
  /*-------------------
  Highlighted Text
--------------------*/
  /*-------------------
       Loader
--------------------*/
  /*-------------------
        Grid
--------------------*/
  /*-------------------
     Transitions
--------------------*/
  /*-------------------
     Breakpoints
--------------------*/
  /*-------------------
      Site Colors
--------------------*/
  /*---  Colors  ---*/
  /*---  Light Colors  ---*/
  /*---   Neutrals  ---*/
  /*--- Colored Backgrounds ---*/
  /*--- Colored Headers ---*/
  /*--- Colored Text ---*/
  /*-------------------
     Alpha Colors
--------------------*/
  /*-------------------
       Accents
--------------------*/
  /* Differentiating Neutrals */
  /* Differentiating Layers */
  /*******************************
           Power-User
*******************************/
  /*-------------------
    Emotive Colors
--------------------*/
  /* Positive */
  /* Negative */
  /* Info */
  /* Warning */
  /*-------------------
        Paths
--------------------*/
  /* For source only. Modified in gulp for dist */
  /*-------------------
       Em Sizes
--------------------*/
  /*
  This rounds @size values to the closest pixel then expresses that value in (r)em.
  This ensures all size values round to exact pixels
*/
  /* em */
  /* rem */
  /*-------------------
  Exact Pixel Values
--------------------*/
  /*
  These are used to specify exact pixel values in em
  for things like borders that remain constantly
  sized as emSize adjusts

  Since there are many more sizes than names for sizes,
  these are named by their original pixel values.

*/
  /*-------------------
       Icons
--------------------*/
  /* Maximum Glyph Width of Icon */
  /*-------------------
     Neutral Text
--------------------*/
  /*-------------------
     Brand Colors
--------------------*/
  /*-------------------
      Borders
--------------------*/
  /*-------------------
    Derived Values
--------------------*/
  /* Loaders Position Offset */
  /* Rendered Scrollbar Width */
  /* Maximum Single Character Glyph Width, aka Capital "W" */
  /* Used to match floats with text */
  /* Header Spacing */
  /* Minimum Mobile Width */
  /* Positive / Negative Dupes */
  /* Responsive */
  /* Columns */
  /*******************************
             States
*******************************/
  /*-------------------
      Disabled
--------------------*/
  /*-------------------
        Hover
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
        Focus
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
    Down (:active)
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /*-------------------
        Active
--------------------*/
  /*---  Colors  ---*/
  /*---  Emotive  ---*/
  /*---  Brand   ---*/
  /*---  Dark Tones  ---*/
  /*---  Light Tones  ---*/
  /* Site theme site.variables */
  /*******************************
         Site Settings
*******************************/
  /*-------------------
 Component Variables
---------------------*/
  /* Default */
  /*******************************
            Message
*******************************/
  /*-------------------
       Elements
--------------------*/
  /* Header */
  /* Paragraph */
  /* List */
  /* Icon */
  /* Close Icon */
  /*-------------------
        Types
--------------------*/
  /* Icon Message */
  /* Attached */
  /* Floating */
  /* Warning / Positive / Negative / Info */
  /* Packaged Theme */
  /*******************************
            Message
*******************************/
  /*-------------------
       Elements
--------------------*/
  /* Header */
  /* Paragraph */
  /* List */
  /* Icon */
  /* Close Icon */
  /*-------------------
        Types
--------------------*/
  /* Icon Message */
  /* Attached */
  /* Floating */
  /* Warning / Positive / Negative / Info */
  /* Site Theme */
  /*******************************
    User Variable Overrides
*******************************/
  /*******************************
             Mix-ins
*******************************/
  /*------------------
       Fonts
-------------------*/
  /*------------------
     Overrides
-------------------*/
  /* End Config */
}
#societyAdmin .pusher > .full.height {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 100vh;
}
#societyAdmin .full.height > .toc {
  position: relative;
  z-index: 1;
  width: 250px;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #1B1C1D;
}
#societyAdmin .full.height > .toc .ui.menu {
  border-radius: 0;
  border-width: 0 1px 0 0;
  box-shadow: none;
  margin: 0;
  width: inherit;
  overflow: hidden;
  will-change: transform;
}
#societyAdmin .full.height > .toc .ui.dimmer {
  background-color: rgba(27, 28, 29, 0.85);
}
#societyAdmin #content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
}
#societyAdmin .main.container {
  padding: 2em 0em 7em;
}
#societyAdmin .masthead > .container,
#societyAdmin .main.container {
  margin-left: 3em !important;
  margin-right: 3em !important;
  width: auto !important;
}
#societyAdmin .qq-upload-drop-area .drop.indicator {
  border: 0.2em dashed #1B1C1D;
  border-radius: .88571429rem;
  height: 100px;
  width: 100px;
}
#societyAdmin .qq-upload-drop-area-active .drop.indicator {
  border: 0.2em dashed #2185D0;
}
#societyAdmin .ui.form div.editable {
  margin: 0;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  padding: .78571429em 1em;
  background: #FFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  outline: 0;
  color: rgba(0, 0, 0, 0.87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
  min-height: 10em;
}
#societyAdmin .ui.form div.editable[data-medium-focused="true"] {
  color: rgba(0, 0, 0, 0.95);
  border-color: #85B7D9;
  border-radius: .28571429rem;
  background: #FFF;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.35) inset;
  -webkit-appearance: none;
}
#societyAdmin .toast-title {
  font-weight: bold;
}
#societyAdmin .toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
#societyAdmin .toast-message a,
#societyAdmin .toast-message label {
  color: #FFFFFF;
}
#societyAdmin .toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
#societyAdmin .toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#societyAdmin .toast-close-button:hover,
#societyAdmin .toast-close-button:focus {
  color: #1B1C1D;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#societyAdmin button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
#societyAdmin .toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
#societyAdmin .toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
#societyAdmin .toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
#societyAdmin .toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
#societyAdmin .toast-top-left {
  top: 12px;
  left: 12px;
}
#societyAdmin .toast-top-right {
  top: 12px;
  right: 12px;
}
#societyAdmin .toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
#societyAdmin .toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#societyAdmin #toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  /*overrides*/
}
#societyAdmin #toast-container * {
  box-sizing: border-box;
}
#societyAdmin #toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #767676;
  color: #FFFFFF;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#societyAdmin #toast-container > :hover {
  box-shadow: 0 0 12px #1B1C1D;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}
#societyAdmin #toast-container.toast-top-center > div,
#societyAdmin #toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#societyAdmin #toast-container.toast-top-full-width > div,
#societyAdmin #toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
#societyAdmin .toast {
  background-color: #030303;
}
#societyAdmin .toast-success {
  background-color: #21BA45;
}
#societyAdmin .toast-error {
  background-color: #DB2828;
}
#societyAdmin .toast-info {
  background-color: #2185D0;
}
#societyAdmin .toast-warning {
  background-color: #F2711C;
}
#societyAdmin .toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #1B1C1D;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
@media all and (max-width: 240px) {
  #societyAdmin #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #societyAdmin #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #societyAdmin #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #societyAdmin #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #societyAdmin #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
#societyAdmin #toast-container {
  /*--------------
       Content
  ---------------*/
  /* Header */
  /* Close Icon */
  /*--------------
     Types
---------------*/
  /* Info */
  /* warning */
  /* error */
  /* success */
}
#societyAdmin #toast-container > .toast {
  position: relative;
  min-height: 1em;
  margin: 1em 0em;
  background: #F8F8F9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.22) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
#societyAdmin #toast-container > .toast:last-child {
  margin-bottom: 0em;
}
#societyAdmin #toast-container .toast-title {
  display: block;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: -0.14285em 0em 0rem 0em;
}
#societyAdmin #toast-container .toast-close-button {
  cursor: pointer;
  position: absolute;
  margin: 0em;
  top: 0.78575em;
  right: 0.5em;
  opacity: 0.7;
  transition: opacity 0.1s ease;
}
#societyAdmin #toast-container .toast-close-button:hover {
  opacity: 1;
}
#societyAdmin #toast-container .toast-info {
  background-color: #F8FFFF;
  color: #276F86;
}
#societyAdmin #toast-container .toast-info .toast-title {
  color: #0E566C;
}
#societyAdmin #toast-container .toast-info .toast-progress {
  background-color: #0E566C;
}
#societyAdmin #toast-container .toast-warning {
  background-color: #FFFAF3;
  color: #573A08;
}
#societyAdmin #toast-container .toast-warning .toast-title {
  color: #794B02;
}
#societyAdmin #toast-container .toast-warning .toast-progress {
  background-color: #794B02;
}
#societyAdmin #toast-container .toast-error {
  background-color: #FFF6F6;
  color: #9F3A38;
}
#societyAdmin #toast-container .toast-error .toast-title {
  color: #912D2B;
}
#societyAdmin #toast-container .toast-error .toast-progress {
  background-color: #912D2B;
}
#societyAdmin #toast-container .toast-success {
  background-color: #FCFFF5;
  color: #2C662D;
}
#societyAdmin #toast-container .toast-success .toast-title {
  color: #1A531B;
}
#societyAdmin #toast-container .toast-success .toast-progress {
  background-color: #1A531B;
}
#societyAdmin .ui.text.red {
  color: #DB2828;
}
#societyAdmin .ui.text.orange {
  color: #F2711C;
}
#societyAdmin .ui.text.yellow {
  color: #FBBD08;
}
#societyAdmin .ui.text.olive {
  color: #B5CC18;
}
#societyAdmin .ui.text.green {
  color: #21BA45;
}
#societyAdmin .ui.text.teal {
  color: #00B5AD;
}
#societyAdmin .ui.text.blue {
  color: #2185D0;
}
#societyAdmin .ui.text.violet {
  color: #6435C9;
}
#societyAdmin .ui.text.purple {
  color: #A333C8;
}
#societyAdmin .ui.text.pink {
  color: #E03997;
}
#societyAdmin .ui.text.brown {
  color: #A5673F;
}
#societyAdmin .ui.text.gray {
  color: #767676;
}
#societyAdmin .ui.text.black {
  color: #1B1C1D;
}
#societyAdmin .setting.segment .field {
  margin-top: 3em;
}
#societyAdmin .setting.segment .field .label {
  margin-top: 0.5em;
  width: 100%;
}
#societyAdmin .setting.segment .field:first-child {
  margin-top: 0;
}
#societyAdmin .setting.segment .grouped.fields .field {
  margin-top: 0;
}
#societyAdmin .flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#societyAdmin .flex.align-center-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/*# sourceMappingURL=app.css.map */
